<h1> Technical Coach Comments Page </h1>
<h2><%= @tc_name %></h2>
<ul>
  <% @tc["comments"].sort.each do |rating| %>
    <h2><%= rating.first %> Stars</h2>
    <% rating.second.each do |comment| %>
      <li><%= comment[:date] %>: <%= comment[:comment] %></li>
    <% end %>
  <%end%>
</ul>
